*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.header__nav {
    background: #000000;
    padding: 34px 0;
}
.header__nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__nav-list {
    display: flex;
    gap: 30px;
}
.logo {
    font-size: 14px;
    line-height: 17px;
    color: white;
    display: flex;
    align-items: center;
    gap: 5px;
}
.logo__span {
    background: #4A90E2;
    border-radius: 3px;
    padding: 3px 5px;
}
.header__nav-link {
    font-size: 14px;
    line-height: 18px;
    color: white;
}

.main__cars{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: 265px;
    gap: 30px;
}
.main__cars-item {
    position: relative;
    padding: 30px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: linear-gradient(180deg, rgba(0, 0, 0, 7.5e-05) 0%, rgba(0, 0, 0, 0.75) 82.82%);
}

.main__cars-item:first-of-type {
    grid-row: span 2;
}

.main__cars-img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    object-fit: cover;
}
.main__cars-span {
    background: #4A90E2;
    border-radius: 3px;
    color: white;
    font-size: 12px;
    line-height: 16px;
    padding: 3px 12px;
    width: max-content;
}
.main__cars-text {
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    margin-bottom: 6px;
}
.main__cars-title {
    font-size: 26px;
    line-height: 36px;
    color: white;
}